div#img-slider1{
    background: url("../img/images_micro_sitio/flavorcup_home_slider_back_01.jpg")
}
div#img-slider2{
    background-image: url("../img/images_micro_sitio/flavorcup_home_slider_back_02.jpg")
}
div#img-slider3{
    background-image: url("../img/images_micro_sitio/flavorcup_home_slider_back_03.jpg")
}
div#img-slider4{
    background-image: url("../img/images_micro_sitio/flavorcup_home_slider_back_04.jpg")
}
div#img-slider5{
    background-image: url("../img/images_micro_sitio/flavorcup_home_slider_back_05.jpg")
}
